@mixin webfont {
  & {
    font-family: $sans-serif-font;
  }

  .webfont-stage-1 & {
    font-family: NotoSansSubset, $sans-serif-font;
  }

  .webfont-stage-2 & {
    font-family: NotoSans, $sans-serif-font;
  }
}

@mixin webfont-bold {
  .webfont-stage-2 & {
    font-family: NotoSansBold, $sans-serif-font;
    font-style: normal;
    font-weight: 700;
  }
}

@mixin webfont-bold-italic {
  .webfont-stage-2 & {
    font-family: NotoSansBoldItalic, $sans-serif-font;
    font-style: italic;
    font-weight: 700;
  }
}

@mixin webfont-italic {
  .webfont-stage-2 & {
    font-family: NotoSansItalic, $sans-serif-font;
    font-style: italic;
  }
}
