.page {
  padding: 1em;

  &-content {
    color: $brand-text;
    font-size: modular-scale(1);
    margin: 0;
    text-align: justify;

    h2 {
      color: modular-lighten($brand-text, 1);
    }
  }

  &-header {
    &-title {
      color: modular-lighten($brand-text, 1);
      font-size: modular-scale(2);
      @include margin(0 0 modular-scale(-4) 0);
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
