.post {
  padding: 1em;

  &-content {
    color: $brand-text;
    font-size: modular-scale(1);
    margin: 0;
    text-align: justify;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: modular-lighten($brand-text, 1);
      text-transform: uppercase;
    }

    ul {
      list-style: square inside none;
      margin: 0 0 0.75em;
    }
  }

  &-header {
    &-meta {
      color: modular-lighten($brand-text, 1);
      margin-bottom: modular-scale(-1);

      &-datum {
        display: inline-block;

        &:not(:first-child) {
          margin-left: modular-scale(-4);

          &:before {
            content: "\2022";
            margin-right: modular-scale(-4);
          }
        }
      }

      &-tags {
        display: inline-block;

        &-tag {
          display: inline-block;
          text-transform: uppercase;

          &:not(:last-child) {
            &:after {
              content: ",";
              margin-left: modular-scale(-10) * -1;
            }
          }
        }
      }
    }

    &-title {
      color: modular-lighten($brand-text, 1);
      font-size: modular-scale(2);
      @include margin(0 0 modular-scale(-4) 0);
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
