.site-navigation {
  &-pages {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    @media (min-width: $two-column-width) {
      margin-top: 0.25em;
      text-align: right;
    }

    &-item {
      display: inline-block;
      padding: 0.25em 0.5em;

      @media (min-width: $two-column-width) {
        display: block;
        margin-top: 1em;
        padding: 0;
        text-align: right;
      }

      &-link {
        color: $brand-text;
        opacity: 0.3;
        text-decoration: none;
        text-transform: uppercase;
        transition: opacity 0.1s ease-in-out;

        @media (min-width: $two-column-width) {
          color: $white;
          border-bottom: 1px solid transparent;
          opacity: 1.0;
          transition: border-color 0.1s ease-in-out;
        }

        &:hover {
          color: $brand-text;
          opacity: 1.0;

          @media (min-width: $two-column-width) {
            border-color: $white;
            color: $white;
          }
        }
      }
    }
  }

  &-social {
    list-style: none;
    margin: 0.5em 0 0 0;
    padding: 0;
    text-align: center;

    @media (min-width: $two-column-width) {
      text-align: right;
      margin-top: 1em;
    }

    &-item {
      display: inline-block;

      &-link {
        opacity: 0.3;
        text-decoration: none;
        transition: opacity 0.1s ease-in-out;

        &-text {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }

        &:hover {
          opacity: 1.0;
        }
      }
    }
  }
}
