---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-header-title" itemprop="name headline">{{ page.title }}</h1>
    <ul class="post-header-meta">
      <li class="post-header-meta-datum">
        <time class="post-header-meta-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
      </li>
      {% if page.author %}
        <li class="post-header-meta-datum">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        </li>
      {% endif %}
      <li class="post-header-meta-datum">
        <span class="post-header-meta-reading-time" title="{{ content | split: " " | size }} words">{{ content | reading_time }}</span>
      </li>
      <li class="post-header-meta-datum">
        <ul class="post-header-meta-tags">
          {% for tag in page.tags %}
            <li class="post-header-meta-tags-tag">
              <a href="{{ tag | slugify | prepend: "/tags/" + site.baseurl }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content | split: '<!-- more -->' | last }}
  </div>
</article>
