<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace: "index.html", "" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <header class="site-header">
      <a class="site-header-title" href="{{ site.baseurl }}/">
        <h1>{{ site.title }}</h1>
      </a>
      <aside>
        <nav class="site-navigation" role="navigation">
          <ul class="site-navigation-pages">
            {% for page in site.pages %}
              {% if page.title %}
                <li class="site-navigation-pages-item"><a class="site-navigation-pages-item-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <ul class="site-navigation-social">
            {% for social in site.social %}
              <li class="site-navigation-social-item">
                <a class="site-navigation-social-item-link" href="{{ social[1].url }}">
                  <svg class="icon"><use xlink:href="#icon-{{ social[0] }}" /></svg>
                    <span class="site-navigation-social-item-link-text">{{ social[1].username }} on {{ social[0] | capitalize }}</span>
                </a>
              </li>
            {% endfor %}
            <li class="site-navigation-social-item">
              <a class="site-navigation-social-item-link icon-feed" href="/feed.xml">
                <svg class="icon"><use xlink:href="#icon-feed" /></svg>
                <span class="site-navigation-social-item-link-text">{{ site.title }} RSS Feed</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </header>
    <main class="site-content">
      {{ content }}
      {% include icons.html %}
    </main>
  </body>
</html>
